.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: #f8f8f8;
}

.home {
    margin-left: 20px;
    text-decoration: none;
    color: black;
}

.home:hover{
    color: black;
}

.menu {
    display: flex;
}

.menu-link {
    margin-right: 20px;
    text-decoration: none;
    color: black;
}

.menu-link:hover{
    color: black;
}
